# Battle of the Neighbourhoods - Toronto
### Author: Shubham Mor

In [2]:
import pandas as pd

# Importing Data

In [3]:
import requests
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
wiki_page = requests.get(url)
wiki_page

# Now we import beautifulSoup and read the html contents

In [4]:
from bs4 import BeautifulSoup

soup = BeautifulSoup (wiki_page.content, features="lxml")

table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)


df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [5]:
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Queen's Park,Ontario Provincial Government
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto Business,Enclave of M4L
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [6]:
df.shape

(103, 3)

# Since Geocoder was returning None values consistently, we have used the csv

In [8]:
import os, types
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_ce515c52776e46e88187382d68844781 = 'https://s3.ap.cloud-object-storage.appdomain.cloud'
else:
    endpoint_ce515c52776e46e88187382d68844781 = 'https://s3.private.ap.cloud-object-storage.appdomain.cloud'

client_ce515c52776e46e88187382d68844781 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='yCYvGgWSa9TCKI_pa9ZGXJ79C-KKOM5hq849xkEsJmq5',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_ce515c52776e46e88187382d68844781)

body = client_ce515c52776e46e88187382d68844781.get_object(Bucket='courseraworkspace-donotdelete-pr-mh6kotypb3us1j',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

latlongdf = pd.read_csv(body)
latlongdf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
latitudes = []
longitudes = []
for postal_code in df['PostalCode']:
    print(latlongdf[latlongdf['Postal Code']==postal_code]['Latitude'])
    latitudes.append(latlongdf[latlongdf['Postal Code']==postal_code]['Latitude'])
    longitudes.append(latlongdf[latlongdf['Postal Code']==postal_code]['Longitude'])
# print(longitudes)
df['Latitude'] = latitudes
df['Longitude'] = longitudes

25    43.753259
Name: Latitude, dtype: float64
34    43.725882
Name: Latitude, dtype: float64
53    43.65426
Name: Latitude, dtype: float64
71    43.718518
Name: Latitude, dtype: float64
85    43.662301
Name: Latitude, dtype: float64
93    43.667856
Name: Latitude, dtype: float64
0    43.806686
Name: Latitude, dtype: float64
26    43.745906
Name: Latitude, dtype: float64
35    43.706397
Name: Latitude, dtype: float64
54    43.657162
Name: Latitude, dtype: float64
72    43.709577
Name: Latitude, dtype: float64
94    43.650943
Name: Latitude, dtype: float64
1    43.784535
Name: Latitude, dtype: float64
27    43.7259
Name: Latitude, dtype: float64
36    43.695344
Name: Latitude, dtype: float64
55    43.651494
Name: Latitude, dtype: float64
73    43.693781
Name: Latitude, dtype: float64
95    43.643515
Name: Latitude, dtype: float64
2    43.763573
Name: Latitude, dtype: float64
37    43.676357
Name: Latitude, dtype: float64
56    43.644771
Name: Latitude, dtype: float64
74    43.689026
Name: Latitude, dtype: float64
3    43.770992
Name: Latitude, dtype: float64
38    43.70906
Name: Latitude, dtype: float64
57    43.657952
Name: Latitude, dtype: float64
75    43.669542
Name: Latitude, dtype: float64
4    43.773136
Name: Latitude, dtype: float64
17    43.803762
Name: Latitude, dtype: float64
28    43.754328
Name: Latitude, dtype: float64
39    43.705369
Name: Latitude, dtype: float64
58    43.650571
Name: Latitude, dtype: float64
76    43.669005
Name: Latitude, dtype: float64
5    43.744734
Name: Latitude, dtype: float64
18    43.778517
Name: Latitude, dtype: float64
29    43.76798
Name: Latitude, dtype: float64
40    43.685347
Name: Latitude, dtype: float64
59    43.640816
Name: Latitude, dtype: float64
77    43.647927
Name: Latitude, dtype: float64
6    43.727929
Name: Latitude, dtype: float64
19    43.786947
Name: Latitude, dtype: float64
30    43.737473
Name: Latitude, dtype: float64
41    43.679557
Name: Latitude, dtype: float64
60    43.647177
Name: Latitude, dtype: float64
78    43.636847
Name: Latitude, dtype: float64
7    43.711112
Name: Latitude, dtype: float64
20    43.75749
Name: Latitude, dtype: float64
31    43.739015
Name: Latitude, dtype: float64
42    43.668999
Name: Latitude, dtype: float64
61    43.648198
Name: Latitude, dtype: float64
79    43.713756
Name: Latitude, dtype: float64
96    43.756303
Name: Latitude, dtype: float64
8    43.716316
Name: Latitude, dtype: float64
21    43.789053
Name: Latitude, dtype: float64
32    43.728496
Name: Latitude, dtype: float64
43    43.659526
Name: Latitude, dtype: float64
62    43.733283
Name: Latitude, dtype: float64
80    43.691116
Name: Latitude, dtype: float64
97    43.724766
Name: Latitude, dtype: float64
9    43.692657
Name: Latitude, dtype: float64
22    43.77012
Name: Latitude, dtype: float64
33    43.761631
Name: Latitude, dtype: float64
44    43.72802
Name: Latitude, dtype: float64
63    43.711695
Name: Latitude, dtype: float64
81    43.673185
Name: Latitude, dtype: float64
98    43.706876
Name: Latitude, dtype: float64
10    43.75741
Name: Latitude, dtype: float64
23    43.752758
Name: Latitude, dtype: float64
45    43.712751
Name: Latitude, dtype: float64
64    43.696948
Name: Latitude, dtype: float64
82    43.661608
Name: Latitude, dtype: float64
99    43.696319
Name: Latitude, dtype: float64
11    43.750072
Name: Latitude, dtype: float64
24    43.782736
Name: Latitude, dtype: float64
46    43.715383
Name: Latitude, dtype: float64
65    43.67271
Name: Latitude, dtype: float64
83    43.64896
Name: Latitude, dtype: float64
86    43.636966
Name: Latitude, dtype: float64
100    43.688905
Name: Latitude, dtype: float64
12    43.7942
Name: Latitude, dtype: float64
47    43.704324
Name: Latitude, dtype: float64
66    43.662696
Name: Latitude, dtype: float64
84    43.651571
Name: Latitude, dtype: float64
13    43.781638
Name: Latitude, dtype: float64
48    43.689574
Name: Latitude, dtype: float64
67    43.653206
Name: Latitude, dtype: float64
14    43.815252
Name: Latitude, dtype: float64
49    43.686412
Name: Latitude, dtype: float64
68    43.628947
Name: Latitude, dtype: float64
88    43.605647
Name: Latitude, dtype: float64
101    43.739416
Name: Latitude, dtype: float64
15    43.799525
Name: Latitude, dtype: float64
50    43.679563
Name: Latitude, dtype: float64
69    43.646435
Name: Latitude, dtype: float64
89    43.602414
Name: Latitude, dtype: float64
102    43.706748
Name: Latitude, dtype: float64
16    43.836125
Name: Latitude, dtype: float64
51    43.667967
Name: Latitude, dtype: float64
70    43.648429
Name: Latitude, dtype: float64
90    43.653654
Name: Latitude, dtype: float64
52    43.66586
Name: Latitude, dtype: float64
87    43.662744
Name: Latitude, dtype: float64
91    43.636258
Name: Latitude, dtype: float64
92    43.628841
Name: Latitude, dtype: float64

In [13]:
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,"25 43.753259 Name: Latitude, dtype: float64","25 -79.329656 Name: Longitude, dtype: float64"
1,M4A,North York,Victoria Village,"34 43.725882 Name: Latitude, dtype: float64","34 -79.315572 Name: Longitude, dtype: float64"
2,M5A,Downtown Toronto,"Regent Park, Harbourfront","53 43.65426 Name: Latitude, dtype: float64","53 -79.360636 Name: Longitude, dtype: float64"
3,M6A,North York,"Lawrence Manor, Lawrence Heights","71 43.718518 Name: Latitude, dtype: float64","71 -79.464763 Name: Longitude, dtype: float64"
4,M7A,Queen's Park,Ontario Provincial Government,"85 43.662301 Name: Latitude, dtype: float64","85 -79.389494 Name: Longitude, dtype: float64"
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North","90 43.653654 Name: Latitude, dtype: float64","90 -79.506944 Name: Longitude, dtype: float64"
99,M4Y,Downtown Toronto,Church and Wellesley,"52 43.66586 Name: Latitude, dtype: float64","52 -79.38316 Name: Longitude, dtype: float64"
100,M7Y,East Toronto Business,Enclave of M4L,"87 43.662744 Name: Latitude, dtype: float64","87 -79.321558 Name: Longitude, dtype: float64"
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...","91 43.636258 Name: Latitude, dtype: float64","91 -79.498509 Name: Longitude, dtype: float64"
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...","92 43.628841 Name: Latitude, dtype: float64","92 -79.520999 Name: Longitude, dtype: float64"